<?xml version="1.0" encoding="UTF-8"?>
<!-- local -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <!-- 自定义AOP支持 -->
    <aop:aspectj-autoproxy/>



    <!-- spring配置c3p0连接池 start -->
    <!-- 1.配置连接池 -->
    <!-- 1.1创建连接池对象，dataSource的名字不能改变 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" lazy-init="false">
        <!-- 1.2设置连接池的属性 -->
        <property name="driverClass" value="${mysql.driverClass}"/>
        <property name="jdbcUrl" value="${mysql.jdbcUrl}"/>
        <property name="user" value="root"/>
        <property name="password" value="${mysql.password}"/>
        <!-- 连接池中保留的最小连接数，默认为：3 -->
        <property name="minPoolSize" value="${mysql.minPoolSize}" />
        <!-- 连接池中保留的最大连接数。默认值: 15 -->
        <property name="maxPoolSize" value="${mysql.maxPoolSize}" />
        <!-- 初始化连接池中的连接数，取值应在minPoolSize与maxPoolSize之间，默认为3 -->
        <property name="initialPoolSize" value="${mysql.initialPoolSize}" />
        <!-- 数据库连接重试次数 -->
        <property name="acquireRetryAttempts" value="${mysql.acquireRetryAttempts}"/>
        <!-- 重试间隔（毫秒） -->
        <property name="acquireRetryDelay" value="${mysql.acquireRetryDelay}"/>
        <!-- 连接断开的时候，自动提交事务 -->
        <property name="autoCommitOnClose" value="${mysql.autoCommitOnClose}"/>

        <!--当连接池用完时客户端调用getConnection()后等待获取新连接的时间，超时后将抛出SQLException,如设为0则无限期等待。单位毫秒。Default: 0 -->
        <property name="checkoutTimeout" value="${mysql.checkoutTimeout}"/>
        <!--最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
        <property name="maxIdleTime" value="${mysql.maxIdleTime}"/>

        <!--maxStatementsPerConnecti<wbr />on定义了连接池内单个连接所拥有的最大缓存statements数。Default: 0 -->
        <property name="maxStatementsPerConnection" value="0"/>
        <property name="maxStatements" value="0"/>

        <!--c3p0是异步操作的，缓慢的JDBC操作通过帮助进程完成。扩展这些操作可以有效的提升性能通过多线程实现多个操作同时被执行。Default: 3-->
        <property name="numHelperThreads" value="${mysql.numHelperThreads}"/>
        <!--如果设为true那么在取得连接的同时将校验连接的有效性。Default: false -->
        <property name="testConnectionOnCheckin" value="${mysql.testConnectionOnCheckin}"/>
    </bean>


    <!-- 开启事务注解驱动 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="mybatis-config.xml"></property>
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.verificer.exchange.web.mapper;" />
    </bean>



</beans>






